.brandtitle {
  width: 100%;
  height: 1.6rem /* 120/75 */;
  padding: 0.306667rem /* 23/75 */ 0.133333rem /* 10/75 */;
}
.brandtitle .top {
  width: 100%;
  height: 100%;
  padding-left: 0.266667rem /* 20/75 */;
  line-height: 1rem /* 75/75 */;
  font-size: 0.426667rem /* 32/75 */;
  color: #7b3306;
  background-color: #eeeeee;
  border: 2px solid #cbcbcb;
}
.list_title {
  width: 100%;
  position: relative;
  height: 0.96rem /* 72/75 */;
  border-top: 2px solid #c9c9c9;
  border-bottom: 2px solid #c9c9c9;
  background-image: linear-gradient(to bottom, #fff, #ececec);
  font-size: 0.333333rem /* 25/75 */;
  padding-left: 0.2rem /* 15/75 */;
  line-height: 0.96rem /* 72/75 */;
  padding-right: 0.173333rem /* 13/75 */;
}
.cate_ul {
  width: 100%;
}
.cate_ul .cate_li {
  overflow: hidden;
  width: 100%;
  background-color: #ededed;
  border-bottom: 1px solid #cbcbcb;
}
.cate_ul .cate_li .title {
  width: 100%;
  height: 1.04rem /* 78/75 */;
  font-size: 0.453333rem /* 34/75 */;
  font-weight: 600;
  padding-left: 0.44rem /* 33/75 */;
  line-height: 1.04rem /* 78/75 */;
}
.cate_ul .cate_li .titler {
  display: block;
  height: 0.666667rem /* 50/75 */ /* 78/75 */;
  width: 1.04rem ;
  float: right;
}
.cate_ul .cate_li .main {
  width: 100%;
  background-color: #fff;
  display: none;
}
.cate_ul .cate_li .main .main_ul {
  width: 100%;
  border-top: 2px solid #cccccc;
  border-left: 2px solid #cccccc;
  overflow: hidden;
  border-bottom: none;
  background-color: #fff;
}
.cate_ul .cate_li .main .main_ul li {
  float: left;
  width: 33.33%;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  height: 1.013333rem /* 76/75 */;
  background-color: #fff;
}
.cate_ul .cate_li .main .main_ul li a {
  display: block;
  text-align: center;
  padding-top: 0.36rem /* 27/75 */;
  font-size: 0.346667rem /* 26/75 */;
  background-color: #fff;
}
.mm_footer {
  margin-top: 0.64rem /* 48/75 */;
}
.mm_search {
  margin-bottom: 0px;
}
.cate_li .main.now {
  display: block;
}
