.mm_main {
  background-color: #f7f7f7;
}
.mm_head {
  text-align: center;
  position: relative;
}
.mm_head .back {
  position: absolute;
  color: #fff;
  left: 0.266667rem /* 20/75 */;
  top: 0.24rem /* 18/75 */;
  font-size: 0.8rem /* 60/75 */;
}
.mm_head .text {
  position: absolute;
  font-size: 0.533333rem /* 40/75 */;
  top: 0.466667rem /* 35/75 */;
  left: 4.133333rem /* 310/75 */ /* 230/75 */;
  color: #fff;
}
.gs_nav {
  position: relative;
  width: 100%;
  background-color: #fff;
  height: 0.973333rem /* 73/75 */;
  border-bottom: 2px solid #eaeaea;
}
.gs_nav .nav_ul {
  width: 100%;
  height: 100%;
}
.gs_nav .nav_ul li {
  float: left;
  text-align: center;
  height: 100%;
  font-size: 0.4rem /* 30/75 */;
  line-height: .973333rem;
}
.gs_nav .nav_ul .shop {
  overflow: hidden;
  width: 25%;
}
.gs_nav .nav_ul .shop .shop_left {
  height: 100%;
  width: 90%;
  float: left;
}
.gs_nav .nav_ul .shop .shop_left .nav_span {
  width: 100%;
  height: 100%;
  display: block;
}
.gs_nav .nav_ul .shop .down1 {
  float: right;
  display: inline-block;
  height: 100%;
  width: 10%;
  text-align: center;
  line-height: .973333rem;
}
.gs_nav .nav_ul .irea {
  width: 25%;
  overflow: hidden;
}
.gs_nav .nav_ul .irea .down2 {
  float: right;
  display: block;
  height: 100%;
  width: 10%;
  text-align: center;
  line-height: .973333rem;
}
.gs_nav .nav_ul .price {
  width: 35%;
}
.gs_nav .nav_ul .price a {
  float: right;
  display: block;
  height: 100%;
  width: 10%;
  text-align: center;
  line-height: .973333rem;
}
.gs_nav .nav_ul .last {
  width: 15%;
  border-left: 2px solid #eaeaea;
}
.gs_nav .dut {
  position: absolute;
  width: 100%;
  display: none;
}
.gs_nav .dut .dut_ul {
  width: 100%;
  border-bottom: 2px solid #eaeaea;
}
.gs_nav .dut .dut_ul li {
  font-size: 0.4rem /* 30/75 */;
  width: 100%;
  padding-left: 0.266667rem /* 20/75 */;
  line-height: 0.973333rem /* 73/75 */;
  background-color: #fff;
  border-top: 1px solid #eaeaea;
  height: 0.973333rem /* 73/75 */;
}
.dut.current {
  display: block;
}
.shop_up.none {
  display: none;
}
.irea_up.none {
  display: none;
}
.gs_list {
  width: 100%;
  padding: 0.266667rem /* 20/75 */ 0.106667rem /* 8/75 */;
  background-color: #f1f1f1;
}
.gs_list .list_ul {
  width: 100%;
  overflow: hidden;
}
.gs_list .list_ul li {
  width: 50%;
  height: 6.066667rem /* 455/75 */;
  float: left;
  padding: 0.106667rem /* 8/75 */;
}
.gs_list .list_ul li .list_a {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: block;
}
.gs_list .list_ul li .list_a .up {
  width: 100%;
  height: 75%;
}
.gs_list .list_ul li .list_a .up img {
  width: 100%;
  height: 100%;
}
.gs_list .list_ul li .list_a .down {
  padding: 0.133333rem /* 10/75 */;
  padding-top: 0;
  width: 100%;
  height: 25%;
  overflow: hidden;
}
.gs_list .list_ul li .list_a .down p {
  font-size: 0.346667rem /* 26/75 */ /* 20/75 */ /* 25/75 */;
  color: #000;
  white-space: nowrap;
  line-height: 0.4rem /* 30/75 */;
}
.gs_list .list_ul li .list_a .down .left {
  padding-top: 0.266667rem /* 20/75 */;
  float: left;
  font-size: 0.466667rem /* 35/75 */ /* 28/75 */;
  color: red;
}
.gs_list .list_ul li .list_a .down .right {
  float: right;
  display: inline-block;
  width: 1.666667rem /* 125/75 */;
  height: 0.733333rem /* 55/75 */;
  text-align: center;
  line-height: 0.733333rem /* 55/75 */;
  color: #fff;
  font-size: 0.346667rem /* 26/75 */;
  background-color: #ff9501;
  border-radius: 0.066667rem /* 5/75 */;
}
