.mm_head {
  text-align: center;
  line-height: 1.333333rem /* 100/75 */;
}
.mm_head .back {
  line-height: 1.333333rem /* 100/75 */;
  color: #fff;
  float: left;
  padding-left: 0.266667rem /* 20/75 */;
  font-size: 0.8rem /* 60/75 */;
}
.mm_head .text {
  font-size: 0.533333rem /* 40/75 */;
  color: #fff;
}
.current {
  height: 7.52rem /* 564/75 */;
}
.main_list {
  width: 100%;
  margin-top: 0.12rem /* 9/75 */;
}
.main_list .details {
  width: 100%;
}
.main_list .details ul {
  width: 100%;
}
.main_list .details ul li {
  width: 100%;
  height: 3.413333rem /* 256/75 */;
  border-bottom: 2px solid #e7e7e7;
  background-color: #fff;
  overflow: hidden;
}
.main_list .details ul li .left {
  float: left;
  width: 24%;
  height: 2.4rem /* 180/75 */;
}
.main_list .details ul li .left img {
  width: 100% /* 200/75 */;
  height: 100% /* 220/75 */;
  margin-top: 0.333333rem /* 25/75 */;
  margin-left: 0.2rem /* 15/75 */;
}
.main_list .details ul li .details_pg {
  padding-top: 0.466667rem /* 35/75 */;
  float: right;
  width: 75% /* 520/75 */;
  height: 100%;
}
.main_list .details ul li .details_pg p:nth-child(1) {
  line-height: 0.4rem /* 30/75 */;
  font-family: "黑体";
  color: #000;
  padding-left: 0.266667rem /* 20/75 */ /* 10/75 */;
  font-size: 0.373333rem /* 28/75 */ /* 22/75 */;
}
.main_list .details ul li .details_pg p:nth-child(1) span {
  color: #ff4800;
}
.main_list .details ul li .details_pg p:nth-child(2) {
  margin-top: 0.933333rem /* 70/75 */;
  font-family: "黑体";
  font-size: 0.293333rem /* 22/75 */;
  color: #91939a;
  bottom: 0.8rem /* 60/75 */;
  padding-right: 0.333333rem /* 25/75 */;
  padding-left: 0.266667rem /* 20/75 */ /* 10/75 */;
}
.main_list .details ul li .details_pg p:nth-child(2) span {
  float: right;
}
.main_list .details ul li .details_pg .index {
  font-family: "黑体";
  font-size: 0.293333rem /* 22/75 */;
  color: #91939a;
}
.main_list .pageout {
  width: 100%;
  height: 1.2rem /* 90/75 */;
  position: relative;
}
.main_list .pageout .page_middle {
  overflow: hidden;
  position: absolute;
  width: 2rem /* 150/75 */;
  height: 0.933333rem /* 70/75 */;
  border: 2px solid #9299a3;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.133333rem /* 10/75 */ /* 0/75 */;
}
.main_list .pageout .page_middle .ulbox {
  width: 80%;
}
.main_list .pageout .page_middle .page_text {
  width: 100%;
  display: block;
  height: 0.933333rem /* 70/75 */;
  text-align: center;
  font-size: 0.44rem /* 33/75 */;
  line-height: 0.933333rem /* 70/75 */;
}
.main_list .pageout .page_middle .page_ul {
  position: absolute;
  left: 0;
  width: 80%;
  background-color: #fff;
}
.main_list .pageout .page_middle .page_ul li {
  height: 0.933333rem /* 70/75 */;
  text-align: center;
  font-size: 0.44rem /* 33/75 */;
  line-height: 0.933333rem /* 70/75 */;
}
.main_list .pageout .page_middle .down {
  position: absolute;
  right: 0;
  display: block;
  width: 20%;
  height: 100%;
  background-color: #efefef;
  top: 0px;
  border: 2px solid #9299a3;
  font-size: 0.4rem /* 30/75 */;
  line-height: 0.88rem /* 66/75 */;
  text-align: center;
}
.main_list .pageout .padded {
  margin: .266667rem .573333rem 0 .573333rem;
  padding-top: 10px;
}
.main_list .pageout .padded .left {
  float: left;
}
.main_list .pageout .padded .right {
  float: right;
}
.main_list .pageout .padded a {
  width: 2.133333rem /* 160/75 */;
  height: 0.933333rem /* 70/75 */;
  font-size: 0.373333rem /* 28/75 */;
  display: block;
  text-align: center;
  line-height: 0.933333rem /* 70/75 */;
  background-color: #efefef;
  border-radius: 5px;
  border: 2px solid #9299a3;
}
.main_list .page_middle.current {
  overflow: visible;
}
.main_list .ulbox .page_text.now {
  display: none;
}
